<div class="grid cards">
<ul>
    {% for card in site.workshops %}
    <li>
        <h3>
            {%- if card.main_url.size > 0 -%}
            <a href="{{ card.main_url }}">{{ card.name }}</a>
            {%- else -%}
            {{ card.name }}
            {%- endif -%}
            <a href="{{ card.gh_repo }}">
                <img alt="GitHub Repo" src="https://img.shields.io/badge/GitHub-gray?logo=github">
            </a>
        </h3>
        {%- if card.releases.size > 0 or card.pulls.size > 0 or card.branches.size > 0 -%}
        <hr>
        {% tabs links %}
        {%- if card.releases.size > 0 -%}
        {% tab links releases %}
<!-- these have to be unindented all the way, or the tab gets confused -->
<ul class='lists'>
    {% for rls in card.releases %}
    <li>
        <a href="{{ card.base_url }}/tags/{{ rls }}">{{ rls }}</a>
    </li>
    {% endfor %}
</ul>
        {% endtab %}
        {%- endif -%}
        {% if card.pulls.size > 0 %}
        {% tab links pull requests %}
<!-- these have to be unindented all the way, or the tab gets confused -->
<ul class='lists'>
    {% for pull in card.pulls %}
    <li>
        <a href="{{ card.base_url }}/pulls/{{ pull }}">{{ pull }}</a>
    </li>
    {% endfor %}
</ul>
        {% endtab %}
        {% endif %}
        {% if card.branches.size > 0 %}
        {% tab links branches %}
<!-- these have to be unindented all the way, or the tab gets confused -->
<ul class='lists'>
    {% for branch in card.branches %}
    <li>
        <a href="{{ card.base_url }}/branch/{{ branch }}">{{ branch }}</a>
    </li>
    {% endfor %}
</ul>
        {% endtab %}
        {% endif %}
        {% endtabs %}
        {%- endif -%}
    </li>
    {% endfor %}
</ul>
</div>
